/***** NAVBAR *****/

.navbar {
    background-color: #0D471D;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #34e5d9;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #0D471D;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #33B4AB;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("../assets/Panel10.jpg");
    text-align: center;
    color: #fff;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
}

.card:hover {
    border-color: #33B4AB;
}

/*** Basic Text Styles ***/

#about-world {
    max-height: 200px;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #288D86;
}

a:hover {
    color: #33B4AB;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Georgia', serif;
    background-color: #eceddf;
    color: #242424;
}

#about-world {
    width: 100%;
    max-width: 450px;  
    height: auto;
    max-height: 650px; 
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.btn-primary {
    background-color: #288D86;
    border-color: #288D86;
    color: white;
}

.btn-primary:hover {
    background-color: #33B4AB;
    border-color: #33B4AB;
    color: white;
}
